<p-confirmDialog></p-confirmDialog>

<div *ngIf="loading" class="loading-overlay">
  <div class="spinner"></div>
</div>

<div class="categoria-edit-container p-fluid p-formgrid p-grid">
  <div class="p-col-12">
    <h2>{{ categoria.id ? 'Editar Categoria' : 'Nova Categoria' }}</h2>
  </div>

  <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
    <div class="p-col-12">
      <div class="p-field">
        <label for="name">Nome</label>
        <input id="name" type="text" pInputText formControlName="name" class="form-control" />
      </div>
    </div>

    <div class="p-col-12">
      <div class="p-field">
        <label for="imageFile">Imagem de Categoria</label>

        <!-- Imagem de Upload -->
        <div class="image-upload-container">
          <p-fileUpload
            mode="basic"
            chooseLabel="Escolher Imagem"
            name="imageFile"
            accept="image/*"
            maxFileSize="1000000"
            (onSelect)="onFileSelected($event)"
            [disabled]="!!selectedFile"
          ></p-fileUpload>

          <!-- Botão de Remover Imagem -->
          <button *ngIf="selectedFile || imagePreview" pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-small remove-btn" (click)="onRemoveImage()"></button>
        </div>
      </div>
    </div>

    <!-- Pré-visualização da Imagem -->
    <div *ngIf="imagePreview" class="p-col-12">
      <div class="p-field">
        <label>Pré-visualização:</label>
        <img [src]="imagePreview" alt="Imagem da Categoria" class="image-preview" />
      </div>
    </div>

    <div class="p-col-12">
      <div class="button-group">
        <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="onCancel()"></button>
        <button pButton type="submit" label="{{ categoria.id ? 'Atualizar' : 'Salvar' }}" class="p-button-primary"></button>
      </div>
    </div>
  </form>
</div>
