.categoria-edit-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categoria-edit-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.p-field {
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}


/* Adicionando espaçamento no input de imagem */
input[type="file"] {
  margin-top: 1rem;
}

.image-preview {
  max-width: 100%; /* Garante que a imagem não ultrapasse os limites */
  height: auto;
  margin-top: 10px; /* Espaçamento entre a imagem e outros elementos */
}

/* .file-info {
  display: flex;
  align-items: center;
  gap: 10px;
} */

.remove-btn {
  margin-left: 10px;
  height: 32px;
  width: 32px;
}

.p-fileupload-content ul {
  list-style-type: none;
  padding-left: 0;
}

.p-fileupload-content ul li {
  display: flex;
  align-items: center;
}

.p-button-small {
  margin-left: 10px;
}

.p-element p-button-icon-only p-button p-component {
  display: inline;
}





