<p-confirmDialog></p-confirmDialog>

<div *ngIf="loading" class="loading-overlay">
  <div class="spinner"></div>
</div>

<div class="categoria-edit-container p-fluid p-formgrid p-grid">
  <div class="p-col-12">
    <h2>{{ categoria.id ? 'Editar Categoria' : 'Nova Categoria' }}</h2>
  </div>

  <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
    <div class="p-col-12">
      <div class="p-field">
        <label for="name">Nome</label>
        <input id="name" type="text" pInputText formControlName="name" class="form-control" />
      </div>
    </div>

    <div class="p-col-12">
      <div class="p-field">
        <label for="imageFile">Imagem de Categoria</label>
<!-- Componente de upload da imagem -->
          <p-fileUpload
            name="imageFile"
            cancelLabel="Cancelar"
            chooseLabel="Escolher Imagem"
            accept="image/*"
            maxFileSize="1000000"
            (onSelect)="onFileSelected($event)"
            (onClear)="onRemoveImage()"
            [showUploadButton]="false">
          </p-fileUpload>

          <!-- Pré-visualização da imagem carregada ou selecionada -->
          <div *ngIf="imagePreview" class="p-col-12">
            <div class="p-field">
              <label>Pré-visualização:</label>
              <img [src]="imagePreview" alt="Imagem da Categoria" class="image-preview" />
            </div>
          </div>
      </div>
    </div>


    <div class="p-col-12">
      <div class="button-group">
        <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="onCancel()"></button>
        <button pButton type="submit" label="{{ categoria.id ? 'Atualizar' : 'Salvar' }}" class="p-button-primary"></button>
      </div>
    </div>
  </form>
</div>
