<h2>{{ editMode ? 'Editar Permissões' : 'Salvar Permissões' }}</h2>
<form [formGroup]="permissaoForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nome</label>
    <input pInputText type="text" id="name" formControlName="name" class="form-control" placeholder="Digite o nome para Permissão"/>
  </div>

  <p-messages
      *ngIf="permissaoForm.get('nome')?.invalid && permissaoForm.get('name')?.touched"
      [value]="mensagemErro"
      class="error-messages">
  </p-messages>

  <br>
  <div class="form-group mt-4">
    <p-pickList
      [source]="disponiveis"
      [target]="selecionadas"
      sourceHeader="Disponíveis"
      targetHeader="Selecionadas"
      [sourceStyle]="{ height: '25rem' }"
      [targetStyle]="{ height: '25rem' }"
      [showSourceControls]="false"
      [showTargetControls]="false"
      [responsive]="true"
      [style]="{'width':'100%'}"
      (onMoveToTarget)="onAdicionarPermissao($event)"
      (onMoveToSource)="onRemoverPermissao($event)">

  <ng-template let-item pTemplate="item">
    <div>{{ item.nome }}</div>
  </ng-template>
</p-pickList>
  </div>

  <div class="form-actions">
    <button pButton type="submit" label="Salvar" class="btn-salvar"></button>
    <button pButton type="button" label="Cancelar" class="btn-cancelar" (click)="onCancel()"></button>
  </div>

</form>
