<!-- <p-confirmDialog></p-confirmDialog>
<div class="container">
  <h2>{{ editMode ? 'Editar Pessoa' : 'Salvar Pessoa' }}</h2>
  <form [formGroup]="pessoaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" id="name" formControlName="name" />
      <div *ngIf="pessoaForm.get('name')?.invalid && pessoaForm.get('name')?.touched" class="error-message">
        Nome é obrigatório e deve ter entre 5 e 150 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="ativo">Ativo</label>
      <input type="checkbox" id="ativo" formControlName="ativo" />
    </div>

    <div class="form-group">
      <label for="cep">CEP</label>
      <p-inputMask  type="text" id="cep" formControlName="cep"  mask="99999-999"/>
    </div>

    <div class="form-group">
      <label for="logradouro">Logradouro</label>
      <input type="text" id="logradouro" formControlName="logradouro" />
    </div>

    <div class="form-group">
      <label for="numero">Número</label>
      <input type="text" id="numero" formControlName="numero" />
    </div>

    <div class="form-group">
      <label for="complemento">Complemento</label>
      <input type="text" id="complemento" formControlName="complemento" />
    </div>

    <div class="form-group">
      <label for="bairro">Bairro</label>
      <input type="text" id="bairro" formControlName="bairro" />
    </div>


    <div class="form-group">
      <label for="cidade">Cidade</label>
      <input type="text" id="cidade" formControlName="cidade" />
    </div>

    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" id="estado" formControlName="estado" />
    </div>

    <div class="button-group">
      <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="onCancel()"></button>
      <button pButton type="submit" label="{{ editMode ? 'Atualizar' : 'Salvar' }}" class="p-button-primary" [disabled]="pessoaForm.invalid"></button>
    </div>
  </form>
</div>
 -->
<p-confirmDialog></p-confirmDialog>
 <div class="container">
  <h2>{{ editMode ? 'Editar Pessoa' : 'Salvar Pessoa' }}</h2>
  <form [formGroup]="pessoaForm" (ngSubmit)="onSubmit()">
    <!-- Campos do formulário -->
    <div class="form-group">
      <label for="cep">CEP</label>
      <p-inputMask type="text" id="cep" formControlName="cep" mask="99999-999" />
    </div>

    <div class="form-group">
      <label for="logradouro">Logradouro</label>
      <input type="text" id="logradouro" formControlName="logradouro" />
    </div>

    <div class="form-group">
      <label for="numero">Número</label>
      <input type="text" id="numero" formControlName="numero" />
    </div>

    <div class="form-group">
      <label for="bairro">Bairro</label>
      <input type="text" id="bairro" formControlName="bairro" />
    </div>

    <div class="form-group">
      <label for="cidade">Cidade</label>
      <input type="text" id="cidade" formControlName="cidade" />
    </div>

    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" id="estado" formControlName="estado" />
    </div>

    <!-- Mapa -->
    <div id="map" style="width: 100%; height: 300px; margin-top: 20px; border: 1px solid #ddd;"></div>

    <div class="button-group">
      <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="onCancel()"></button>
      <button pButton type="submit" label="{{ editMode ? 'Atualizar' : 'Salvar' }}" class="p-button-primary" [disabled]="pessoaForm.invalid"></button>
    </div>
  </form>
</div>

