<div class="categoria-list-container">
  <div class="header">
    <h2>Lista de Usuários</h2>
    <button pButton type="button" label="Novo Usuario" icon="pi pi-plus" class="p-button-success"
      (click)="novoUsuario()"></button>
  </div>

  <p-table [value]="usuarios" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ativo</th>
        <!-- <th>Criado Em</th>
        <th>Atualizado Em</th> -->
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.ativo ? 'Sim' : 'Não' }}</td>
        <td>{{ usuario.createdAt}}</td>
        <td>{{ usuario.updatedAt}}</td>
        <td>
          <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success"
            (click)="editarUsuario(usuario)"></button>
          <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="deletarUsuario(usuario.id)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">Nenhum usuário encontrado.</td>
      </tr>
    </ng-template>
  </p-table>
