.lancamento-list-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.lancamento-new-container {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

button {
  margin-right: 10px;
}

/* Botão de aceitação em vermelho */
.p-confirm-dialog .p-confirm-dialog-accept {
  background-color: #f44336 !important;
  border: none;
}

/* Botão de fechar à esquerda */
.p-confirm-dialog .p-dialog-header .p-dialog-header-close {
  position: absolute;
  left: 1rem;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Espaço entre os campos e botões */
}

.date-filters {
  display: flex;
  gap: 1rem; /* Espaço entre os campos de data */
  justify-content: center; /* Centraliza os campos de data */
}

.p-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 0.5rem; /* Espaço entre os botões */
  margin-top: 1rem; /* Espaço acima dos botões */
}


.button-container button {
  margin-left: 0.5rem; /* Espaço entre os botões */
}
