.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

p-card {
  width: 400px;
}

.login-header {
  text-align: center;
  margin-bottom: 1rem;
}

.p-field {
  margin-bottom: 1rem;
}

button {
  width: 100%;
}

.p-error {
  color: red;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}


