<div class="p-fluid">
  <form [formGroup]="lancamentoForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="descricao">Descrição</label>
      <input id="descricao" type="text" pInputText formControlName="descricao" />
      <!-- <div *ngIf="lancamentoForm.get('descricao')?.invalid && lancamentoForm.get('descricao')?.touched">
        <small class="p-error">Descrição é obrigatória.</small>
      </div> -->
    </div>

    <div class="p-field">
      <label for="dataVencimento">Data de Vencimento</label>
      <p-calendar id="dataVencimento" formControlName="dataVencimento" dateFormat="dd/mm/yy"></p-calendar>
    </div>

    <div class="p-field">
      <label for="dataPagamento">Data de Pagamento</label>
      <p-calendar id="dataPagamento" formControlName="dataPagamento" dateFormat="dd/mm/yy"></p-calendar>
    </div>

    <div class="p-field">
      <label for="valor">Valor</label>
      <input id="valor" type="text" pInputText formControlName="valor" />
    </div>

    <div class="p-field">
      <label for="observacao">Observação</label>
      <input id="observacao" type="text" pInputText formControlName="observacao" />
    </div>

    <div class="p-field">
      <label for="tipoLancamento">Tipo de Lançamento</label>
      <p-dropdown id="tipoLancamento" formControlName="tipoLancamento"></p-dropdown>
    </div>

    <div class="p-field">
      <label for="categoriaId">Categoria</label>
      <input id="categoriaId" type="number" pInputText formControlName="categoriaId" />
    </div>

    <div class="p-field">
      <label for="pessoaId">Pessoa</label>
      <input id="pessoaId" type="number" pInputText formControlName="pessoaId" />
    </div>

    <button pButton type="submit" label="Salvar" [disabled]="lancamentoForm.invalid"></button>
  </form>
</div>
