<p-confirmDialog></p-confirmDialog>
<div class="p-fluid">
  <h2>{{ editMode ? 'Editar Lançamento' : 'Salvar Lançamento' }}</h2>
  <form [formGroup]="lancamentoForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="descricao">Descrição</label>
      <input id="descricao" type="text" pInputText formControlName="descricao" />
    </div>

    <div>
      <label for="dataVencimento">Data de Vencimento</label>
      <p-calendar id="dataVencimento" formControlName="dataVencimento" dateFormat="dd/mm/yy"/>
    </div>
    <br>
    <div>
      <label for="dataPagamento">Data de Pagamento</label>
      <p-calendar id="dataPagamento" formControlName="dataPagamento" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <br>
    <div class="p-field">
      <label for="valor">Valor</label>
      <input id="valor" type="text" pInputText formControlName="valor" />
    </div>

    <div>
      <label for="tipoLancamento">Tipo de Lançamento</label>
      <p-dropdown id="tipoLancamento" [options]="tiposLancamento" formControlName="tipoLancamento"></p-dropdown>
    </div>
    <br>
    <!-- <div class="p-field">
      <label for="categoriaId">Categoria</label>
      <p-multiSelect id="categoriaId" formControlName="categoriaId" optionLabel="label" optionValue="value" class="dropdown-full-width"></p-multiSelect>
    </div> -->
    <div class="p-field">
      <label for="categoriaId">Categorias</label>
      <input id="categoriaId" type="text" pInputText formControlName="categoriaId" />
    </div>

    <div class="p-field">
      <label for="pessoaId">Pessoas</label>
      <input id="pessoaId" type="text" pInputText formControlName="pessoaId" />
    </div>



    <div class="p-field">
      <label for="observacao">Observação</label>
      <input id="observacao" type="text" pInputText formControlName="observacao" />
    </div>
    <div class="p-button-group">
      <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="onCancel()"></button>
      <button pButton type="submit" label="{{ editMode ? 'Atualizar' : 'Salvar' }}" class="p-button-primary"></button>
    </div>
  </form>
</div>
