/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


/* global-styles.css (ou o arquivo CSS global que você está usando) */

/* Esconde a barra de navegação, barra lateral e rodapé na tela de login */
body.login-page .navbar,
body.login-page .sidebar,
body.login-page .footer {
  display: none;
}

body.login-page .main-content {
  padding: 0;
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa a altura total da tela */
  padding: 20px;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container .form-group {
  margin-bottom: 15px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

/* Centraliza o overlay e o spinner */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  z-index: 1000; /* Coloca o overlay sobre outros conteúdos */
}

/* Estilos do spinner */
.spinner {
  border: 8px solid #f3f3f3; /* Cor de fundo do spinner */
  border-top: 8px solid #3498db; /* Cor do spinner */
  border-radius: 50%;
  width: 50px; /* Tamanho do spinner */
  height: 50px; /* Tamanho do spinner */
  animation: spin 1s linear infinite; /* Animação de rotação */
}

/* Animação de rotação */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
}



