<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/home">Vendas</a>
  </div>
  <div class="navbar-menu">
    <div class="user-info" *ngIf="isAuthenticated()">
      <i class="pi pi-user" routerLink="/alterar-senha"></i> <!-- Ícone de usuário -->
      <span>{{ userName }}</span> <!-- Nome do usuário -->
    </div>
    <div class="spacer"></div>
    <button pButton icon="pi pi-sign-in" label="Login" routerLink="/login" *ngIf="!isAuthenticated()" class="p-button-rounded p-button-success"></button>
    <button pButton icon="pi pi-power-off" label="Logout" *ngIf="isAuthenticated()" (click)="logout()" class="p-button-rounded p-button-danger"></button>
  </div>
</nav>
