/* Customize navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2196f3;
  color: #fff;
  padding: 1rem;
  border-bottom: 5px solid #1976d2;
}

.navbar-brand a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.user-info i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.user-info span {
  font-size: 1rem;
}
