<div class="alterar-senha-container">
  <h2>Alterar Senha</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="senhaAtual">Senha Atual</label>
      <input type="password" id="senhaAtual" [(ngModel)]="senhaAtual" name="senhaAtual" required>
    </div>

    <div>
      <label for="novaSenha">Nova Senha</label>
      <input type="password" id="novaSenha" [(ngModel)]="novaSenha" name="novaSenha" required>
    </div>

    <div>
      <label for="confirmarNovaSenha">Confirmar Nova Senha</label>
      <input type="password" id="confirmarNovaSenha" [(ngModel)]="confirmarNovaSenha" name="confirmarNovaSenha" required>
    </div>

    <button type="submit">Alterar Senha</button>
  </form>
</div>
