<p-confirmDialog></p-confirmDialog>

<div class="categoria-list-container">
  <div class="header">
    <h2>Lista de Categorias</h2>
    <button *ngIf="!canCreate()" pButton type="button" label="Nova Categoria" icon="pi pi-plus" class="p-button-success" (click)="novaCategoria()"></button>
  </div>

  <div class="filter-container">
    <input type="text" pInputText placeholder="Filtrar por nome" [(ngModel)]="filterName" (input)="filterCategorias()" />
    <button pButton type="button" label="Limpar" icon="pi pi-times" class="p-button-secondary" (click)="clearFilter()"></button>
  </div>

  <p-table [value]="filteredCategorias" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
        <th *ngIf="!canDelete()">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
      <tr>
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.name }}</td>
        <td>
          <!-- Renderizando a imagem se disponível -->
          <img *ngIf="categoria.imageFile" [src]="'http://localhost:8080/api/categorias/' + categoria.id + '/imagem'" alt="{{ categoria.name }}" width="100" height="100">
        </td>
        <td>
          <button *ngIf="!canEdit()" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editCategoria(categoria.id)"></button>
          <button *ngIf="!canDelete()" pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteCategoria(categoria.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
